body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    border: solid;
    height: 400px;
    width: 400px;
}

.box{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.innerBox{
    background-color: black;
    flex: 1;
}

.hovers{
    background-color: white;
}

button{
    margin-top: 20px;
}